
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  
}

.container {
  width: 100%;
  height: 100%;
}

.leftpane {
    width: 20%;
    height: 300%;
    float: left;
    background: linear-gradient(to right, #012f5a 40%,#4785aa 70%, white) ;
    z-index: 2;
}

.middlepane {
    width: 60%;
    height: 300%;
    float: left;
    background-color: white;
}

.rightpane {
  width: 20%;
  height: 300%;
  position: relative;
  float: right;
   background: linear-gradient(to left, #012f5a 40%,#4785aa 70%, white) ;
    z-index: 2;
}

.bottom {
  width: 100%;
  height: 100px;
position: relative;
     background: 
     linear-gradient( #012f5a,#4785aa)  ;
/*    z-index: 1;*/
}
.clear{
    clear: both;
}

.blackBg{
    background: black;
    width: 100%;
}

#searchBox{
    position: relative;
    float: right;
    top: -80px;
    border-radius: 8px;
    height: 20px;
    width: 200px;

}

#nbcLogo{
    float: left;
    height: 100px;
    width: 50%;
    padding-left: 5px;
}

#searchGlass{
    position: relative;
    float: right;
    top: -80px;
    right: -3px;
    padding-right: 0px;
    height: 28px;
}

#barInfo{
    color: white;
/*    font-size: 10px;*/
    margin-bottom: -10px ;
    text-decoration: none;
}

#menubar{
   position: relative;
    top: 50px;
    width: 100%;
     height: 100px;
     margin-bottom:  -20px;
}

#tImg{
    width: 100%;
}

#topBar{
    height: 110px;
}

#underTopImg{
    padding-top: 1px;
   top: 100px;
    height: 100px;
/*    font-size: 20px;    */
}

h2{
/*   float: left; */
    font-size: 30px;
    color: #a3a3a3;
    font-style: normal;
}

#network{
    position: relative;
    width: 50%;
    float: right;
    bottom: 0px;
    top: -100px;
}

#leftMeddlPart{
    width: 70%;
    float: left;
    position: relative;
    border-bottom: 1px solid #a3a3a3;
    margin-top: -50px;
    
}
#rightMeddlPart{
    position: relative;
    width: 30%;
    float: right;
    background: #ececec;
    top: -80px;
}
.rightPos{
    margin-left: 40px;
}
.hDes{
    
    position: relative;
    float: left; 
    font-style: normal;
    left: 20px;

}
h1{
    color: #a3a3a3;
}
#sponsers{
    
    position: relative;
    float: right;
}
.imgMP{
    border: 5px solid #ececec;
    width: 200px;
    height: 200px;
    float: left;
}
.imgBM{
    
    width: 200px;
    height: 100px;
border: 2px solid #ececec;}
.border{
    border-bottom: 1px solid #a3a3a3;
    list-style-type: none;
    margin-bottom: 10px;
    bottom: -100px;
}
.textSt{
    text-decoration: none;
    color: #4d8fb1;
}
.a1{
    float: right;
    font-size: 15px;
    font-family: monospace;
    color: #9C9C9C;
}
.buttomS{
    background-color: #4d8fb1;
    float: left;
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 8px;
    
}
#leftFp{
    
    position: relative;
    float: left;
    width: 35%;
}
#centealFP{
    
    width: 300;
    
}

#rightFP{
    
    position: relative;
    width: 35%;
}

#footerPart{
    position: relative;
    float: left;
    width: 100%;
    height: 500px;
}
#leftFP{
    float: left;
    width: 35%;
    height: 300px;
}
#nbcInfo{
    margin-left: 20px;
}

#centralFP{
      position: relative;

    float: left;
     width: 35%;
    height: 300px;
}
#rightFP{
      position: relative;
    float: right;
    margin-top: -300px;
    width: 300px;
    height: 200px;
}

#fImg{
    position: relative;
    float: left;
}
.fImgSize{
    width: 100px;
    height: 100%;
}
#end{
    position: relative;
    width: 92.5%;
    margin-left: 70px;
    margin-top: -40px;
    
}
#finish{
    
    padding-bottom: 1px;
}


